<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app> 
    <servlet>
        <servlet-name>com.omgrentbbq.OmgRentBbq Login</servlet-name>
        <servlet-class>com.omgrentbbq.server.LoginImpl</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>com.omgrentbbq.OmgRentBbq Login</servlet-name>
        <url-pattern>/com.omgrentbbq.OmgRentBbq/user</url-pattern>
    </servlet-mapping>

    <!-- <security-constraint>
        <web-resource-collection>
            <web-resource-name>rpc</web-resource-name>

            <url-pattern>com.omgrentbbq.App/u</url-pattern>
            <url-pattern>com.omgrentbbq.App/tm</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
